<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

   
    <script type="text/javascript">

    $("#tiendas").change(function () {
        console.log("CodigoT:" + $("#tiendas").val())
        console.log("NombreT:" + $('select[name="tiendas"] option:selected').text());

        $("#usuarios").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetUsuarios", "Login")',

            dataType: 'json',

            data: { codigoTienda: $("#tiendas").val() },


            success: function (states) {


                $.each(states, function (i, state) {
                    $("#usuarios").append('<option value="' + state.Value + '">' +
                        state.Text + '</option>');


                });
            },
            error: function (ex) {
                alert('Failed to retrieve users.' + ex);
            }
        });
        return false;
    })
    $("#usuarios").change(function () {
        console.log("CodigoE:" + $("#usuarios").val())
        console.log("NombreE:" + $('select[name="usuarios"] option:selected').text());
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetNombreUsuario","Login")',
            dataType: 'json',
            data: { codigoT: $("#tiendas").val(), nombreT: $('select[name="tiendas"] option:selected').text(), codigoE: $("#usuarios").val(), nombreE: $('select[name="usuarios"] option:selected').text() },
            success: function (data) {
                console.log("data:" + data)

                window.location.href = '@Url.Action("IndexUsuario", "Login")' + '?text=' + data
            },
            error: function (ex) {
                alert('algo salio mal con los usuarios' + ex.status)
            }


        });
        return false;
    })

    </script>
</body>
</html>
